<h2>Add Slot to <%= @spread.name %></h2>

<%= render 'errors' %>

<%= form_with url: "/spreads/#{@spread.id}/slots" do |f| %>
  <div>
    <%= f.label :name %> 
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Save and continue to next slot", class: 'btn btn-primary btn-small'%>
    <%= f.submit "Save and finish", name: 'save_and_finish', class: 'btn btn-secondary btn-small' %>
  </div>
<% end -%>